@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h4>Welcome @Model.UserIden.Fname @Model.UserIden.Lname </h4>
    <p><small>with NRIC of @Model.UserIden.NRIC :></small></p>
</div>