@page
@model _214247C_ICA1.Pages.LoginModel
@{
}
@using AspNetCore.ReCaptcha

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Login </h1>

			<form method="post">
				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Text" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>
				@Html.ReCaptcha()
				<recaptcha/>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
		<div class="mt-4">
			<div class="d-flex justify-content-center links">
				Don't have an account? <a asp-page="/Shared/Register" class="ml-2">Sign Up</a>
			</div>
			<div class="d-flex justify-content-center links">
				<a asp-page="/Account/ResetPassword">Forgot your password?</a>
			</div>
		</div>
	</div>
</div>