@page
@model _214247C_ICA1.Pages.errors._404Model
@{
    ViewData["title"] = "Page does not exists";
}
<head>
    <link rel="stylesheet" href="~/css/404.css" asp-append-version="true" />
</head>
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; margin-bottom: 0px;">404</h1>
<p style="font-size: 50px; ">We couldn't find this page.</p>
<p>The page you are looking either doesn't exists or some issue has occurred.</p>
<p>Please navigate back!</a></p>
</div>

