@page
@model _214247C_ICA1.Pages.Shared.RegisterModel
@{
}

<head>
    <!--<title> Show Password Strength | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>
<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register </h1>
            <form enctype="multipart/form-data" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.Fname">First Name</label>
                        <input type="text" class="form-control" asp-for="RModel.Fname" />
                        <span asp-validation-for="RModel.Fname" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.Lname">Last Name</label>
                        <input type="text" class="form-control" asp-for="RModel.Lname" />
                        <span asp-validation-for="RModel.Lname" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.Gender">Gender</label>
                        <div class="col-sm-10 d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(m => m.RModel.Gender, "M", new {@class = "form-check-input"})
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(m => m.RModel.Gender, "F", new {@class = "form-check-input"})
                                <label class="form-check-label">Female</label>
                            </div>
                            <span asp-validation-for="RModel.Gender" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.NRIC">NRIC</label>
                        <input type="text" class="form-control" asp-for="RModel.NRIC" oninput="this.value = this.value.toUpperCase()" />
                        <span asp-validation-for="RModel.NRIC" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.Email">Email Address</label>
                        <input type="text" class="form-control" asp-for="RModel.Email" />
                        <span asp-validation-for="RModel.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.Password">Password</label>
                        <input type="text" asp-for="RModel.Password" id="Password" class="form-control">
                        <span id="PwdStrength"></span>
                        <span asp-validation-for="RModel.Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RModel.CnfmPassword">Confirm Password</label>
                        <input type="text" asp-for="RModel.CnfmPassword" class="form-control">
                        <span asp-validation-for="RModel.CnfmPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label">Date of Birth</label>
                        <input class="form-control" min="1940-01-01" type="date" asp-for="RModel.BirthDate">
                        <span asp-validation-for="RModel.BirthDate" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label">Resume upload </label>
                        <input class="form-control" accept=".docx, .pdf" asp-for="RModel.Resume" type="file">
                        <span asp-validation-for="RModel.Resume" class="text-danger"></span>
                    </div>              

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label">WhoamI </label>
                        <input asp-for="RModel.WhoamI">
                        <span asp-validation-for="RModel.WhoamI" class="text-danger"></span>
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
     </div>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}
<script src="~/js/PwdStrength.js" asp-append-version="true"></script>
