@page
@model _214247C_ICA1.Pages.Account.ResetPasswordModel
@{
}
<h2>Reset Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="ResetModel.Token" type="hidden" />
                <input asp-for="ResetModel.Email" type="hidden" />
            <div class="form-group">
                <label asp-for="ResetModel.Password"></label>
                <input asp-for="ResetModel.Password" class="form-control" />
                <span asp-validation-for="ResetModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResetModel.ConfirmPassword"></label>
                <input asp-for="ResetModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="ResetModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
